:root {
  //--Color
  --title-color: #333;
  --subtitle-color: #252525;
  --text-color: #888888;
  --active-line: #4CAF50;
  --cub-color: hsla(122, 39%, 49%, .8);
  --card-active-color: #70BF73;
  --block-color: #70BD59;
  --white-color-light: hsla( 0, 0%, 100%, .6);
  --bg-color: #f2f2f2;

  //--Font
  font-size: 16px;
  --font-first: 'Oswald', sans-serif;
  --font-second: 'OpenSans', sans-serif;

}

.title {
  position: relative;
  color: var(--title-color);
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: capitalize;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-bottom: .5rem;
  &::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2.5px;
    background: var(--title-color);
    left: 0;
    bottom: -2px;
  }
}




